<div class="container" >
    <div class="row">
      <div class="col"></div>
      <div class="col-lg-6 us rounded">
        <div class="text-center tx"><h2>Wstaw nowe ogłoszenie</h2></div>
        <div class="he">
          <form name="form" (ngSubmit)="f.form.valid && this.model.hasOwnProperty('id_kat') && submit($event)" #f = "ngForm" novalidate>
              <div class="form-group">
                <label for="nazwa">Nazwa ogłoszenia</label>
                <input type="text" class="form-control" name="nazwa" #nazwa="ngModel" [(ngModel)]="model.nazwa" required>
              </div>
              <div class="form-group">
                <label for="kategoria">Kategoria</label>
                <select class="form-control" (change)="getKategoria($event)">
                  <option disabled selected value style="display:none"> -- select an option -- </option>
                  <option *ngFor='let option of kat' [value]='option.id_kat'>{{option.nazwa}}</option>
                </select>
              </div>
              <div class="form-group" *ngIf='podkategorie.length != 0'>
                <select class="form-control" (change)="getPodkategoria($event)">
                  <option disabled selected value style="display:none"> -- select an option -- </option>
                  <option *ngFor='let option of podkategorie' [value]='option.id_kat'>{{option.nazwa}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="cena">Cena</label>
                <input type="number" class="form-control" [(ngModel)]="model.cena"  #cena="ngModel" name="cena" required>
              </div>
              <div class="form-group">
                <label for="cena">Opis</label>
                <textarea class="form-control" [(ngModel)]="model.opis" #opis="ngModel" name="opis" required></textarea>
              </div>
              <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" class="form-control" [(ngModel)]="model.email" #email="ngModel" name="email" required>
              </div>
              <div class="form-group">
                <label for="telefon">Telefon</label>
                <input type="number" class="form-control" [(ngModel)]="model.nr_tel" #nr_tel="ngModel" name="nr_tel" required>
              </div>
                  <div class="form-group">
                      <label for="adres">Adres</label>
                      <input type="text" class="form-control" name="adres" [(ngModel)]="model.adres" #adres="ngModel">
                    </div>
                    <div class="form-group">
                      <label for="miasto">Miasto</label>
                      <input type="text" class="form-control" name="miasto" [(ngModel)]="model.miasto"  #miasto="ngModel">
                    </div>
                    <div class="form-group">
                      <label for="wojewodztwo">Województwo</label>
                      <select class="form-control" name="wojewodztwo" [(ngModel)]="model.wojewodztwo" #wojewodztwo="ngModel">
                        <option *ngFor="let region of wojewodztwa" [value]="region">{{region}}</option>
                      </select>
                    </div>
                    <div class="form-group" *ngIf='atrybuty.length > 0'>
                      <label for='atrybuty'>Atrybuty</label>
                      <input *ngFor = 'let att of atrybuty; let index = index'
                        type='text' class='form-control' name="att{{index}}" [(ngModel)]="model2[index]" [placeholder]='att'>
                    </div>
              <div class='form-group image-upload' #files>
                <label for='files'>Zdjęcia</label>
                  <div class='row d-flex justify-content-center'>
                    <div class='col-4'>
                      <label for="file0" class='file_img'><img src="../zdjecia/ogl_placeholder.PNG"/></label>
                      <input id='file0' type="file" name='0' (change)='submit_zdj($event)'>
                    </div>
                    <div class='col-4'>
                        <label for="file1" class='file_img'><img src="../zdjecia/ogl_placeholder.PNG"/></label>
                      <input id='file1' type="file" name='1' (change)='submit_zdj($event)'>
                    </div>
                    <div class='col-4'>
                        <label for="file2" class='file_img'><img src="../zdjecia/ogl_placeholder.PNG"/></label>
                      <input id='file2' type="file" name='2' (change)='submit_zdj($event)'>
                    </div>
                  </div>
                  <div class='row d-flex justify-content-center'>
                    <div class='col-4'>
                        <label for="file3" class='file_img'><img src="../zdjecia/ogl_placeholder.PNG"/></label>
                      <input id='file3' type="file" name='3' (change)='submit_zdj($event)'>
                    </div>
                    <div class='col-4'>
                        <label for="file4" class='file_img'><img src="../zdjecia/ogl_placeholder.PNG"/></label>
                      <input id='file4' type="file" name='4' (change)='submit_zdj($event)'>
                    </div>
                    <div class='col-4'>
                        <label for="file5" class='file_img'><img src="../zdjecia/ogl_placeholder.PNG"/></label>
                      <input id='file5' type="file" name='5' (change)='submit_zdj($event)'>
                    </div>
                  </div>
              </div>
              <div class="text-left text-muted">
              Czy chcesz wypromować swoje ogłoszenie? Promowane ogłoszenia wyświetlane są jako pierwsze w wyszukiwarce, a także mają szansę na pojawienie się na stronie głównej.
                   <br> (Normalnie za coś takiego naliczylibyśmy opłatę, ale w projekcie chyba nie wolno tak robić) <br>
                <div class="promowane form-group offset-10">
                    <input type="checkbox"  [(ngModel)]="model.promowane" #promowane="ngModel" name="promowane" class="promowane-checkbox">
                    <label class="promowane-label" for="promowane">
                        <span class="promowane-inner"></span>
                        <span class="promowane-switch"></span>
                    </label>
                </div>
            </div>
                <div class="text-center">
              <button [disabled]="loading || f.form.invalid" class="btn btn-outline-success">Zarejestruj</button>
              <img *ngIf="loading" src="assets/loading.gif"></div>
            </form>
            </div>
      </div>
      <div class="col"></div>
    </div>
</div>
