<div class="container" >
    <div class="row">
      <div class="col">
          <form name="form" (ngSubmit)="f.form.valid && submit()" #f = "ngForm" novalidate>
              <div class="form-group">
                <label for="nazwa">Nazwa ogłoszenia</label>
                <input type="text" class="form-control" name="nazwa" #nazwa="ngModel" [(ngModel)]="model.nazwa" required>
              </div>
              <div class="form-group">
                kategoria tutaj jakos
              </div>
              <div class="form-group">
                <label for="cena">Cena</label>
                <input type="text" class="form-control" [(ngModel)]="model.cena"  #cena="ngModel" name="cena" required>
              </div>
              <div class="form-group">
                <label for="cena">E-mail</label>
                <input type="text" class="form-control" [(ngModel)]="model.email" #email="ngModel" name="email" required>
              </div>
              <div class="form-group">
                <label for="cena">Telefon</label>
                <input type="text" class="form-control" [(ngModel)]="model.telefon" #telefon="ngModel" name="telefon" required>
              </div>
              <div class="form-group">
                <label for="cena">Opis</label>
                <input type="text" class="form-control" [(ngModel)]="model.nazwisko" #opis="ngModel" name="opis" required>
              </div>
              <div class="form-group">
                  region
              </div>
              <div class='form-group'>
                  <input type="file" (change)='submit_zdj($event)'>
              </div>
              <button [disabled]="loading" class="btn btn-primary">Zarejestruj</button>
              <img *ngIf="loading" src="assets/loading.gif">
            </form>
      </div>
    </div>
</div>
