<div class="container" >
    <div class="row">
      <div class="col">
          <form name="form" (ngSubmit)="f.form.valid && submit($event)" #f = "ngForm" novalidate>
              <div class="form-group">
                <label for="nazwa">Nazwa ogłoszenia</label>
                <input type="text" class="form-control" name="nazwa" #nazwa="ngModel" [(ngModel)]="model.nazwa" required>
              </div>
              <div class="form-group">
                <label for="kategoria">Kategoria</label>
                <select class="form-control" (change)="getKategoria($event)">
                  <option disabled selected value style="display:none"> -- select an option -- </option>
                  <option *ngFor='let option of kat' [value]='option.id'>{{option.nazwa}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="cena">Cena</label>
                <input type="text" class="form-control" [(ngModel)]="model.cena"  #cena="ngModel" name="cena" required>
              </div>
              <div class="form-group">
                <label for="cena">E-mail</label>
                <input type="text" class="form-control" [(ngModel)]="model.email" #email="ngModel" name="email" required>
              </div>
              <div class="form-group">
                <label for="cena">Telefon</label>
                <input type="text" class="form-control" [(ngModel)]="model.telefon" #telefon="ngModel" name="telefon" required>
              </div>
              <div class="form-group">
                <label for="cena">Opis</label>
                <input type="text" class="form-control" [(ngModel)]="model.opis" #opis="ngModel" name="opis" required>
              </div>
              <div class="form-group">
                  region
              </div>
              <div class='form-group' #files>
                  <input type="file" name='0' (change)='submit_zdj($event)'>
                  <input type="file" name='1' (change)='submit_zdj($event)'>
                  <input type="file" name='2' (change)='submit_zdj($event)'>
                  <input type="file" name='3' (change)='submit_zdj($event)'>
                  <input type="file" name='4' (change)='submit_zdj($event)'>
                  <input type="file" name='5' (change)='submit_zdj($event)'>
              </div>
              <div class="form-group">
                  promowane
                  <input type="checkbox" class="form-control" [(ngModel)]="model.promowane" #promowane="ngModel" name="promowane" required>
                </div>
              <button [disabled]="loading" class="btn btn-primary">Zarejestruj</button>
              <img *ngIf="loading" src="assets/loading.gif">
            </form>
      </div>
    </div>
</div>
