  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2" id="panel" background-color="blue">
        <h1>Le panel</h1>
      </div>
      <div class="container">
      <div class="col">
        <div class="row">
      <div class="col-sm-4">
        <img src="assets/Image.jpg" height="100%" width="100%">
      </div>
      <div class="col-lg">
        L0l1L0v3r_69<br>
        Imię: Altaj<br>
        Nazwisko: Pedofilski<br>
        Województwo: Mazowieckie<br>
        Miasto: Siedlce<br>
        Wiek: nieznany<br>
      </div>
      </div>
    <div class="row">
      Pasek wyboru komentarze/szczegolowe dane/cos jeszcze
    </div>
    <div class="row">
      Wyswietla zawartosc wybranej zakladki
    </div>
    </div>
  </div>
  </div>
</div>