
    <div class="container">
      <div class="col">
        <div class="row rounded main">
          <div class="col-sm-4 rounded img">
              <img class="rounded" src="../../zdjecia/placeholder.jpg" height="100%" width="100%">
          </div>
          <div class="col-lg info rounded text-center pt-3">
            <div class="login rounded">
              <h1>{{dane.login}}</h1>
            </div>
            <div class="info2 rounded">
              <h2>Imię: {{dane.imie}}</h2>
              <h2>Nazwisko: {{dane.nazwisko}}</h2>
              Województwo: {{dane.wojewodztwo}}<br>
              Miasto: {{dane.miasto}}<br>
              Numer telefonu: {{dane.nr_tel}}
            </div>
            <br>Funkcja: {{dane.funkcja}}
          </div>
        </div>
        <div class="row bott text-center rounded">
            <div [innerHTML]='dane.o_sobie | MarkdownToHtml'></div>
            <div class='text-muted markdown offset-10 mt-2'>opis używa <a target="_blank" href='https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet'>Markdown</a></div>

        </div>
      </div>
    </div>

