
    <div class="container">
      <div class="col">
        <div class="row">
          <div class="col-sm-4">
            <img src="assets/Image.jpg" height="100%" width="100%">
          </div>
          <div class="col-lg">
            <h2>{{dane.login}}</h2><br>
            Imię: {{dane.imie}}<br>
            Nazwisko: {{dane.nazwisko}}<br>
            Województwo: {{dane.wojewodztwo}}<br>
            Miasto: {{dane.miasto}}<br>
            Wiek: nieznany<br>
          </div>
        </div>
        <div class="row">
          Pasek wyboru komentarze/szczegolowe dane/cos jeszcze
        </div>
        <div class="row">
          Wyswietla zawartosc wybranej zakladki
        </div>
      </div>
    </div>

