<div class="card" id="login-tabs">
  <div class="card-header">
    <ul class="nav nav-pills">
      <div class="row">
        <div class="col-sm">
          <li><a routerLink="/auth/login">Logowanie</a></li>
        </div>
        <div class="col-sm">
          <li><a routerLink='/auth/register'>Rejestracja</a></li>
        </div>
      </div>
    </ul>
  </div>
  <div class="card-body">
    <div *ngIf = "login; then loginForm; else registerForm"></div>
    <div class="tab-content">
      <ng-template #loginForm>
          <app-login></app-login>
      </ng-template>
      <ng-template #registerForm>
        <app-register></app-register>
      </ng-template>
    </div>
  </div>
</div>




