<div class="card" id="login-tabs">
  <div class="card-header">
    <ul class="nav nav-pills">
      <div class="row">
        <div class="col-sm">
          <li class="active"><a data-toggle="tab" href="#login">Logowanie</a></li>
        </div>
        <div class="col-sm">
          <li><a data-toggle="tab" href="#register">Rejestracja</a></li>
        </div>
      </div>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">
      <div id="login" class="tab-pane active">
        <app-login></app-login>
      </div>
      <div id="register" class="tab-pane">
        <app-register></app-register>
      </div>
    </div>
  </div>
</div>




