<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col" *ngFor = 'let ogl of wyniki'>
          <div class="col-4">
            <img src="../zdjecia/1-0.jpg">
          </div>
        </div>
        <div class="col">
          nazwa: {{model.nazwa}}<br>
          region: {{model.region}}<br>
          id kategoria: {{model.kategoria}}
          
        </div>
      </div>
    </div> 
  </div>
  <br>
  wyniki wyszukiwania:<br>
  <div class="row" *ngFor = 'let ogl of wyniki'>
    <div class="col-4">
      {{ogl.nazwa}} (id:{{ogl.id_og}})
    </div>
  </div>
</div>
