<div class="container-fluid bg-light">
  <div class="container">
    <br>
      <app-form-wyszukiwrka [modelinput]='this.model' class="row justify-content-center p-2 mt-2"></app-form-wyszukiwrka>
    <br>
      <app-atrybuty class='row justify-content-center'></app-atrybuty>
    <br>
      <div class='text-center'>
        <h5>Sortowanie:</h5>
        <br>
        <div class="container sort-row">
        <span (click)='search({sort: "cena", dir: "ASC"})' class="ml-1 sort-link noselect">najtańsze</span>
        <span (click)='search({sort: "cena", dir: "DESC"})' class="ml-1 sort-link noselect">najdroższe</span>
        <span (click)='search({sort: "data_wys", dir: "DESC"})' class="ml-1 sort-link noselect">najnowsze</span>
        <span (click)='search({sort: "data_wys", dir: "ASC"})' class="ml-1 sort-link noselect">najstarsze</span>
        </div>
      </div>
      <br>
  </div>
</div>
<div class="container">
  <app-kategorie-tree></app-kategorie-tree>

      <div *ngIf='noresults; then noResultsTemplate; else resultsTemplate'></div>

      <ng-template #resultsTemplate>
        <div class="row rounded mb-2" [ngClass]='ogl.promowane == 1 ? "bg-prom" : "bg-light"' *ngFor = 'let ogl of wyniki'>
          <div class="col-4 img rounded">
              <img clas="rounded" [src]="img_path+ogl.zdjecie" height="100%" width="100%" onError="this.src = '../zdjecia/placeholder.jpg'">
          </div>
          <div class="col info rounded">
            <a routerLink='../ogloszenie/{{ogl.id_og}}'><h2>{{ogl.nazwa}}<br></h2></a>
            <h3>Cena: {{ogl.cena}} złotych polskich<br></h3>
            <h4>Opis: {{ogl.opis}}<br></h4>
          </div>
        </div>
      </ng-template>

      <ng-template #noResultsTemplate>
        <div class="row justify-content-center noresults-text">
          Niestety nic nie znaleziono - spróbuj zmienić zapytanie na bardziej ogólne lub poszukaj czegoś innego!
        </div>
      </ng-template>
      <br><br>
      <div class='row justify-content-center'>
  <ul class="pagination pagination-lg">
      <li class="page-item" *ngFor = 'let p of Arr(pages).fill(1); let i = index'>
        <span class="page-link" (click)='search({page: i+1})'>{{i+1}}</span>
      </li>
    </ul>
  </div>
  <div class='text-center'>
      <br>
      <h5>Ilość ogłoszeń na stronie:</h5>
      <br>
      <div class="container sort-row">
      <span (click)='search({num: 5})' class="ml-1 sort-link noselect">5</span>
      <span (click)='search({num: 10})' class="ml-1 sort-link noselect">10</span>
      <span (click)='search({num: 25})' class="ml-1 sort-link noselect">25</span>
      <span (click)='search({num: 50})' class="ml-1 sort-link noselect">50</span>
      <span (click)='search({num: 100})' class="ml-1 sort-link noselect">100</span>
      </div>
    </div>
</div>
 