.noresults-text{
  font-size: 150%;
  font-family: 'Palanquin-SemiBold';
}
.bg-prom{
  background-color: lightsalmon;
}
.text-right{
  font-size: 16px;
  font-family: 'Palanquin-Light';
}
.sort-link:hover{
  cursor: pointer;
  text-decoration: underline;
}
