<div class="container-fluid">
  <div class="row">

    <div class="container">
      <h4>Oto twoje obserwowane ogłoszenia:</h4>
      <div *ngIf='errors.length > 0; then noResultsTemplate; else resultsTemplate'></div>

      <ng-template #resultsTemplate>
        <div class="row rounded mb-2" [ngClass]='ogl.promowane == 1 ? "bg-prom" : "bg-light"' *ngFor = 'let ogl of wyniki'>
          <div class="col-4 img rounded">
              <img class="rounded" [src]="img_path+ogl.zdjecie" height="100%" width="100%" onError="this.src = '../../zdjecia/placeholder.jpg'">
          </div>
          <div class="col info rounded">
            <a routerLink='../../ogloszenie/{{ogl.id_og}}'><h2>{{ogl.nazwa}}<br></h2></a>
            <h3>Cena: {{ogl.cena}} złotych polskich<br></h3>
            <h4>Opis: {{ogl.opis}}<br></h4>
          </div>
        </div>
      </ng-template>


      <ng-template #noResultsTemplate>
        <h1>Nie masz nic w obserwowanych :[</h1>
        <div *ngFor='let error of errors'>{{ error }}</div>
      </ng-template>
    </div>
  </div>
</div>
