.dropdown-menu-right{
  left: auto;
  right: 0;
}
.logo, .navbar-brand{
  font-family: 'ADAMCG';
}
.img-circle {
  border-radius: 50%;
}
.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}
