<nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">jajusz.ix</a>
        <h2>Jakies super logo</h2>
    <div class='row'>
      <div class="sm-col">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="flase">
          <img src="assets/avatar/avatar2.jpg" class="img-circle" height='50' width='50'>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdown2">
          <a routerLink='/profil/'>Moje konto</a><br>
          <a routerLink='/mojeog/'>Moje ogłoszenia</a><br>
          <a routerLink='/obserwowane/'>Obserwowane</a><br>
          <a routerLink='/stworz/'>Stwórz ogłoszenie</a><br>
          <a routerLink='/archiwum/'>Archiwum</a><br>
          <a routerLink='/ostatnio/'>Ostatnio oglądane</a>
        </div>
      </div>
      <div class="sm-col nav-link dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Zaloguj</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown">
          <ul>
            <li><a routerLink='/login/'>Zaloguj</a></li>
            <li><a routerLink='/login/#register'>Rejestracja</a></li>
          </ul>
        </div>
      </div>
    </div>
</nav>