.img-circle {
  border-radius: 50%;
}
.dropdown-menu-right{
  left: auto;
  right: 0;
}
@font-face {
  font-family: 'ADAMCG';
  src: url('/assets/ADAM.CG PRO.otf') format("opentype");
}
.logo, .navbar-brand{
  font-family: 'ADAMCG';
}
