<form name='form' (submit)='f.form.valid && search()' #f = 'ngForm'>
  <div class="input-group input-group-lg">
    <input type="text" placeholder="Wyszukaj" class="form-control wyszuk" name="nazwa" #nazwa="ngModel" [(ngModel)]="model.nazwa">
    <div class="input-group-btn" *ngIf='this.model.nazwa'>
      <button type="button" (click)='delete()' class="btn btn-secondary">
        <i class='fa fa-close'></i>
      </button>
    </div>
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary">
        <i class='fa fa-search'></i>
      </button>
    </div>
  </div>
</form>
