#container{width:100%;height:100%; }
#left{background-color:red;}
#right{background-color:blue;}
#center{background-color:green;}
#bottom{background-color:rgb(216, 117, 216) }
.row.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
