<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">jajusz.ix</a>
      </div>
      <h1>wyszukiwarka</h1>
      <ul class="nav navbar-nav">
          <li class="active"><a href="index.php">Home</a></li>
          <li><a href="profil.php">Profil uzytkownika</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
      </ul>
    </div>
  </nav>
  <div id="container">
    <div class="row row-eq-height">
      <div id="left">
        <h1>Kategorie</h1>
        <br>Animu
        <br>Koty
        <br>Memy
      </div>
      <div id="center">
        <img src="assets/kot2.jpg">
        <img src="assets/kot3.jpg">
      </div>
       <div id="right">prawy</div>
    </div>
      <div id="bottom">
        stoppa
      </div>
    </div>

