    <div class="container">
        <div class="col">
          <div class="row">
            <div class="col-sm-4">
              <img src="assets/Image.jpg" height="100%" width="100%">
            </div>
            <div class="col-lg">
              L0l1L0v3r_69 [Edytuj]<br>
              Imię: Altaj [Edytuj]<br>
              Nazwisko: Pedofilski [Edytuj]<br>
              Województwo: Mazowieckie [Edytuj]<br>
              Miasto: Siedlce [Edytuj]<br>
              Wiek: nieznany [Edytuj]<br>
            </div>
          </div>
          <div class="row">
            <h1>Piękne i potężne ustawienia profilu</h1>
          </div>
        </div>
      </div>