<div class="container">
  <div class="row align-content-middle">
    <div class="col-3"></div>
    <div class="col-6">
        <div id="accordion" role="tablist">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Zmień dane użytkownika
                  </a>
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <form name="form" (ngSubmit)="f.form.valid && changeData()" #f = "ngForm" novalidate>
                      <div class="form-group">
                          <label for="imie">Imię/Imiona</label>
                          <input type="text" class="form-control" name="imie" [(ngModel)]="model.imie"  #imie="ngModel" required>
                        </div>
                        <div class="form-group">
                            <label for="nazwisko">Nazwisko</label>
                            <input type="text" class="form-control" name="nazwisko" [(ngModel)]="model.nazwisko"  #nazwisko="ngModel" required>
                          </div>
                          <div class="form-group">
                              <label for="nr_tel">Telefon</label>
                              <input type="text" class="form-control" name="nr_tel" [(ngModel)]="model.nr_tel"  #nr_tel="ngModel" required>
                            </div>
                    <div class="form-group">
                      <label for="adres">Ulica</label>
                      <input type="text" class="form-control" name="adres" [(ngModel)]="model.adres" #adres="ngModel" required>
                    </div>
                    <div class="form-group">
                      <label for="miasto">Miasto</label>
                      <input type="text" class="form-control" name="miasto" [(ngModel)]="model.miasto"  #pass="ngModel" required>
                    </div>
                    <div class="form-group">
                      <label for="wojewodztwo">Województwo</label>
                      <select class="form-control" name="region" [(ngModel)]="model.wojewodztwo" #wojewodztwo="ngModel" required>
                        <option *ngFor="let region of wojewodztwa" [value]="region">{{region}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="o_sobie">O sobie</label>
                      <textarea rows='8' class="form-control" name="o_sobie" [(ngModel)]="model.o_sobie" #o_sobie="ngModel"></textarea>
                    </div>
                    <div class='text-muted text-right markdown'>opis używa <a target="_blank" href='https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet'>Markdown</a></div>
                    <div class='alert alert-success mb-2' *ngFor='let suc of success'>{{ suc }}</div>
                    <div class='alert alert-danger mb-2' *ngFor='let error of errors'>{{ error }}</div>
                    <button [disabled]="loading" class="btn btn-primary">Zmień dane</button>
                    <img *ngIf="loading" src="assets/loading.gif">
                  </form>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Zmień hasło
                  </a>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <form name="form" [formGroup] = "form_pass" (ngSubmit)="changePass()" novalidate>
                    <div class="form-group" formGroupName="passGroup">
                      <input type="password" placeholder="Hasło" class="form-control passgroup" formControlName="pass">
                    </div>
                    <div class="form-group" formGroupName="passGroup">
                        <input type="password" placeholder="Potwierdź hasło" class="form-control passgroup" formControlName="pass2">
                    </div>
                    <div class='alert alert-success mb-2' *ngFor='let suc of success2'>{{ suc }}</div>
                    <div class='alert alert-danger mb-2' *ngFor='let error of errors2'>{{ error }}</div>
                    <button [disabled]="loading2" class="btn btn-primary">Zmień hasło</button>
                    <img *ngIf="loading2" src="assets/loading.gif">
                  </form>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="headingThree">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Zmień e-mail
                  </a>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  <form name="form" [formGroup] = "form_mail" (ngSubmit)="changeEmail()" novalidate>
                    <div class="form-group" formGroupName="mailGroup">
                      <input type="text" placeholder="E-mail" class="form-control passgroup" formControlName="email">
                    </div>
                    <div class="form-group" formGroupName="mailGroup">
                        <input type="text" placeholder="Potwierdź e-mail" class="form-control passgroup" formControlName="email2">
                    </div>
                    <div class='alert alert-success mb-2' *ngFor='let suc of success3'>{{ suc }}</div>
                    <div class='alert alert-danger mb-2' *ngFor='let error of errors3'>{{ error }}</div>
                    <button [disabled]="loading3" class="btn btn-primary">Zmień mail</button>
                    <img *ngIf="loading3" src="assets/loading.gif">
                  </form>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
