<div class="container-fluid">
    <div class="row">

      <div class="container">
        <h4>Oto twoje wygasłe ogłoszenia:</h4>

          <div class="row rounded mb-2" [ngClass]='ogl.promowane == 1 ? "bg-prom" : "bg-light"' *ngFor = 'let ogl of wyniki'>
            <div class="col-4 img rounded">
                <img class="rounded" [src]="img_path+ogl.zdjecie" height="100%" width="100%" onError="this.src = '../../zdjecia/placeholder.jpg'">
            </div>
            <div class="col info rounded">
              <div class='row'>
                <a class='ogl-nazwa' routerLink='../../ogloszenie/{{ogl.id_og}}'><h3>{{ogl.nazwa}}<br></h3></a>
              </div>
              <div class='row'>
                <div class='col'>
                  <button class='btn btn-outline-success' (click)='refresh(ogl.id_og)'>Odśwież ogłoszenie</button>
                </div>
                <div class='col'>
                  <button class='btn btn-outline-danger' (click)='delete(ogl.id_og)'>Usuń ogłoszenie</button>
                </div>
              </div>
            </div>
          </div>

          <div *ngFor = 'let error of errors' class='alert alert-danger'>{{ error }}</div>
      </div>
    </div>
  </div>
