
  <div class="container">
    <div class="row  justify-content-center">
      <form method="POST" action="#">
      <div class="form-group">
        <input class="form-control input-md" id="search" type="text" placeholder="Wyszukaj">
        <input type="submit">
      </div>
      </form>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-2 ">
        <button type="button" class="btn btn-success">Ogrut</button>
      </div>
      <div class="col-lg-2">
        <button type="button" class="btn btn-warning">Dom</button>
      </div>
      <div class="col-lg-2">
        <button type="button" class="btn btn-default">Praca</button>
      </div>
      <div class="col-lg-2">
       <button type="button" class="btn btn-primary">Uazienka</button>
      </div>
      </div>
    <div class="row justify-content-center">
      <div class="col-lg-2">
        <button type="button" class="btn btn-primary">Samohut</button>
      </div>
      <div class="col-lg-2">
        <button type="button" class="btn btn-default">Motur</button>
      </div>
      <div class="col-lg-2">
        <button type="button" class="btn btn-warning">Dziedzgo</button>
      </div>
      <div class="col-lg-2">
        <button type="button" class="btn btn-success">Szport</button>
      </div>
    </div>
  </div>
<div class="container">
  
    <div class="row  justify-content-center">
      <h1>Promowane ogloszenia</h1>
    </div>
    <div class="row  justify-content-center">
      <img src="assets/kot2.jpg">
    </div>
    <div class="row  justify-content-center">
      <img src="assets/kot3.jpg">
    </div>
</div>