<div class="container">
  <div class="row justify-content-center">
    <div class='col-6'>
      <form name='form' (submit)='f.form.valid && search()' #f = 'ngForm'>
        <div class="input-group">
          <input type="text" placeholder="Wyszukaj" class="form-control" name="nazwa" #nazwa="ngModel" [(ngModel)]="model.nazwa" required>
          <div class="input-group-btn"><button class='btn btn-success'>🔍</button></div>
        </div>
      </form>
    </div>
  </div>
  <app-home-kategorie class="row justify-content-center"></app-home-kategorie>
</div>
<div class="container">

    <div class="row  justify-content-center">
      <h1>Promowane ogloszenia</h1>
    </div>
    <div class="row  justify-content-center">
      <img src="assets/kot2.jpg">
    </div>
    <div class="row  justify-content-center">
      <img src="assets/kot3.jpg">
    </div>
</div>
