<div class="container bg-light">
  <div class="row justify-content-center p-2">
    <div class='col-6'>
      <form name='form' (submit)='f.form.valid && search()' #f = 'ngForm'>
        <div class="input-group">
          <input type="text" placeholder="Wyszukaj" class="form-control wyszuk" name="nazwa" #nazwa="ngModel" [(ngModel)]="model.nazwa" required>
          <select class="form-control" #region="ngModel"
          [(ngModel)]="model.region" name="region">
            <option *ngFor="let region of wojewodztwa" [value]="region">{{region}}</option>
        </select>
          <div class="input-group-btn"><button class='btn btn-success'>🔍</button></div>
        </div>
      </form>
    </div>
  </div>
  <app-home-kategorie class="row justify-content-center"></app-home-kategorie>
  <div class="row justify-content-center" *ngFor = 'let ogl of promowane'>
    {{ ogl.nazwa }}
  </div>
</div>

