<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 rounded text-center" background-color="blue">
      <div class="panel">
        <br>
      <h3>Panel użytkownika</h3><br>
      <a class="ml-1 sort-pan noselect" routerLink='profil'>Moje konto</a><br><br>
      <a class="ml-1 sort-pan noselect" routerLink='wiadomosci'>Wiadomości</a><br><br>
      <a class="ml-1 sort-pan noselect" routerLink='ustawienia'>Ustawienia profilu</a><br><br>
      <a class="ml-1 sort-pan noselect" routerLink='mojeog'>Moje ogłoszenia</a><br><br>
      <a class="ml-1 sort-pan noselect" routerLink='obserwowane'>Obserwowane</a><br><br>
      <a class="ml-1 sort-pan noselect" routerLink='stworz'>Stwórz ogłoszenie</a><br><br>
      <a class="ml-1 sort-pan noselect" routerLink='archiwum'>Archiwum</a><br><br>
      </div>
    </div>
    <div class="col-sm-8">
        <router-outlet></router-outlet>
    </div>
    </div>
</div>
