<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" id="panel" background-color="blue">
      <h1>Le panel</h1><br>
      <a routerLink='panel/profil'>Moje konto</a><br>
      <a routerLink='panel/ustawienia'>Ustawienia profilu</a><br>
      <a routerLink='panel/mojeog'>Moje ogłoszenia</a><br>
      <a routerLink='panel/obserwowane'>Obserwowane</a><br>
      <a routerLink='panel/stworz'>Stwórz ogłoszenie</a><br>
      <a routerLink='panel/archiwum'>Archiwum</a><br>
      <a routerLink='panel/ostatnio'>Ostatnio oglądane</a><br>
      <a href="#" (click)='logout()'><b>Wyloguj</b></a>
    </div>
    <div class="col">
        <router-outlet></router-outlet>
    </div>
    </div>
</div>