<div class="container">
  <div class="row">
    <div class="col-lg>">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>
    <div class="col-lg">
      <h1>{{dane?.nazwa}}</h1>
      <br>{{dane?.cena | currency: "zł"}}
      <br>{{dane?.id_kat}}
      <br>{{dane?.opis}}
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      Pasek wyboru (opis, dane ogłoszeniodawcy itd)
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      Zawartość wybranej pozycji (z paska wyżej)
    </div>
    <div class="col-lg">
      Data utworzenia: {{ dane?.data_wys | date }}
    </div>
  </div>
</div>
